body {
  font-family: sans-serif;
}

h1 {
  color: rebeccapurple;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

nav {
  height: 85px;
  width: 100%;
  background: #063247;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
}

nav ul li a {
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #063247;
  transition: 0.5s;
}
.navbar-brand {
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 50px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
}
.modal-header {
  color: white;
  background: #063247;
}
.row {
  width: 100%;
  padding-left: 15%;
}
.card {
  width: 14rem;
  height: 20rem;
  border: solid;
}

.col-3 {
  padding-top: 100px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.col-4 {
  padding-top: 100px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.enroll {
  width: 100px;
  margin: 28px;
  cursor: pointer;
  background: #063247;
  padding: 5px;
  text-align: center;
}


.nutrition {
  text-align: center;
}
table {
  margin-left: 800px;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 400%;
    padding: 0;
  }
}
